#!/usr/bin/make -f

%:
	dh $@ --with python-virtualenv

override_dh_virtualenv:
	dh_virtualenv \
	    --python /usr/bin/python3 \
	    --setuptools \
	    --preinstall pip \
	    --preinstall setuptools \
	    --preinstall wheel \
	    --extra-pip-arg --no-deps

override_dh_builddeb:
	dh_builddeb --destdir=${DESTINATION_DPKG_DIR}

override_dh_auto_test:
	echo "SKIPPING TESTS"
